<div class="container">
    <button class="toggle-button" (click)="toggleForm()">
        <i class="fa" [ngClass]="showForm ? 'fa-minus' : 'fa-plus'"></i>
        {{ showForm ? 'Close Form' : 'Add Post' }}
    </button>

    <div class="form-container" [ngClass]="{'open': showForm, 'closed': !showForm}">
        <form (ngSubmit)="submitPost()">
            <div class="form-group">
                <textarea id="postContent" [(ngModel)]="postContent" name="postContent" rows="4" required
                    placeholder="Type your message here..."></textarea>
            </div>

            <div class="form-group">
                <div class="add-button-group">
                    <button type="button" (click)="addImageUrl()" class="add-button">
                        <i class="fa fa-image"></i> Add Image
                    </button>
                    <button type="button" (click)="addVideoUrl()" class="add-button">
                        <i class="fa fa-video"></i> Add Video
                    </button>
                    <button type="button" (click)="addGifUrl()" class="add-button">
                        <i class="fa fa-film"></i> Add GIF
                    </button>
                </div>
            </div>

            <div *ngFor="let media of mediaUrls; let i = index" class="media-url-group">
                <i class="fa" [ngClass]="getMediaIconClass(media.mediaType)"></i>
                <input type="text" [value]="media.mediaUrl" (input)="updateMediaUrl(i, $event)"
                    placeholder="Enter media URL" />
                <button type="button" (click)="removeMediaUrl(i)" class="remove-button">
                    <i class="fa fa-times"></i>
                </button>
            </div>

            <button type="submit" class="submit-button">Submit Post</button>
        </form>
    </div>
</div>