<div class="container">
    <button class="toggle-button" (click)="toggleForm()">
        <i class="fa" [ngClass]="showForm ? 'fa-minus' : 'fa-plus'"></i>
        {{ showForm ? 'Close Form' : 'Add Post' }}
    </button>

    <div class="form-container" [ngClass]="{'open': showForm, 'closed': !showForm}">
        <form (ngSubmit)="submitPost()">
            <div class="form-group">
                <textarea id="postContent" [(ngModel)]="postContent" name="postContent" rows="4" required placeholder="Type your message here..."></textarea>
            </div>

            <div class="form-group">
                <button type="button" (click)="addMediaUrl()" class="add-button">
                    <i class="fa fa-plus"></i> Add Media URL
                </button>
                <div *ngFor="let media of mediaUrls; let i = index" class="media-url-group">
                    <input type="text" [value]="media" (input)="updateMediaUrl(i, $event)"
                        placeholder="Enter media URL" />
                    <button type="button" (click)="removeMediaUrl(i)" class="remove-button">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>

            <button type="submit" class="submit-button">Submit Post</button>
        </form>
    </div>
</div>