HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
**/.DS_Store

target/

### Angular ###
node_modules/
dist/
tmp/
out-tsc/

### Compiled output ###
*.js
*.jsx
*.js.map
*.d.ts

### Logs ###
logs
*.log
npm-debug.log*

### System files ###
.DS_Store
Thumbs.db

### IDEs and editors ###
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

### Optional npm cache directory ###
.npm

### Optional eslint cache ###
.eslintcache
